<h1>registra nuevo usuario</h1>
<form action="/addUser" method="POST">
  <p>
    <label for="username">Escribe el nombre de usuario</label>
    <input type="text" name="username" id="username">
  </p>
  <p>
    <label for="email">Escribe el mail</label>
    <input type="email" name="email" id="email">
  </p>
  <p>
    role:
    <br>
    <input type="radio" name="role" value="client">cliente<br>
    <input type="radio" name="role" value="employee">empleado<br>
    <input type="radio" name="role" value="projectManager">gerente de proyectos<br>
  </p>
  <p>
    <label for="password">Escribe una contraseña segura</label>
    <input type="password" name="password" id="password">
  </p>
  <p>
    <label for="password2">Repite la contraseña</label>
    <input type="password" name="password2" id="password2">
  </p>
  <input type="submit" value="agregar usuario">
</form>
<p><a href="/login">iniciar sesión</a></p>

<p>Si está en sesión y es empleado puede ver el <a href="/listInternal">listado interno de empleados y clientes</a></p>
<p>Si está en sesión y es cliente puede ver el <a href="/listExternal">listado publico de empleados y clientes</a></p>

<p>{{error}}</p>
<p>{{error.errmsg}}</p>
<p>{{warning}}</p>
<p>{{suggestions.[0]}}</p>