{{#each users}}
{{#if @last}}
<h1>{{this.username}} haz creado el nuevo usuario exitosamente!</h1>
<div>
  <p>
    tu contraseña generado por el sistema es: {{this.systemPassword}}
  </p>
</div>
<p><a href="/login">inicia sesión</a></p>
<a href="/addUser">registra otro usuario</a>
{{/if}}
{{/each}}