<h1>el listado de empleados y clientes</h1>
<div>
  {{#each users}}
  <p>
    nombre de usuario: {{this.username}}
  </p>
  <p>
    role: {{this.role}}
  </p>
  <hr>
  {{/each}}
</div>
<p>email general: contacto@rokode.com</p>
<a href="/addUser">registra otro usuario</a>