<h1>iniciar sesión</h1>
<form action="/login" method="POST">
  <p>
    nombre de usuario:
    <input type="text" name="username" id="username" required>
  </p>
  <p>
    contraseña generado por el usuario:
    <input type="password" name="password" id="password" required>
  </p>
  <p>
    contraseña generado por el sistema:
    <input type="password" name="systemPassword" id="systemPassword" required>
  </p>

  <input type="submit" value="login">
</form>

<p>Si estás en sesión y eres empleado puedes ver el <a href="/listInternal">listado interno</a> de empleados y clientes</p>
<p>Si estás en sesión y eres cliente puedes ver el <a href="/listExternal">listado público</a> de empleados y clientes</p>

<p><a href="/addUser">agrega nuevo usuario</a></p>
<p>{{error}}</p>