<h1>generador de tickets</h1>
<h2>iniciar sesión</h2>
<form action="/login" method="POST">
  <p>
    nombre de usuario:
    <input type="text" name="username" id="username" required>
  </p>
  <p>
    contraseña generado por el usuario:
    <input type="password" name="password" id="password" required>
  </p>
  <p>
    contraseña generado por el sistema:
    <input type="password" name="systemPassword" id="systemPassword" required>
  </p>

  <input type="submit" value="iniciar sesión">
</form>

<p>Si estás en sesión y eres empleado puedes ver el listado interno de empleados y clientes</p>
<p>Si estás en sesión y eres cliente puedes ver el listado público de empleados y clientes</p>
<button onclick="window.location.href='/addUser'"> agrega nuevo usuario </button>
<div class="error">
  <p>{{error}}</p>
</div>