{{#each users}}
{{#if @last}}
<h1>haz creado el nuevo usuario <div class="username">{{this.username}}</div> exitosamente!</h1>
<div>
  <p>
    tu contraseña generado por el sistema es: {{this.systemPassword}}
    Se necesita para iniciar sesión.
  </p>
</div>
<p><a href="/login">inicia sesión</a></p>
<a href="/addUser">registra otro usuario</a>
{{/if}}
{{/each}}